# Postgres Admin
POSTGRES_ADMIN_USER=transcendence_user
POSTGRES_DB=transcendence_db
POSTGRES_PORT=5432

# Postgres Ingestion User
POSTGRES_INGEST_USER=ingest_user

# Postgres Read-Only User
POSTGRES_READONLY_USER=reader_user

REDIS_HOST=redis
REDIS_PORT=6379

BACKEND_PORT = 8000

FRONTEND_PORT=5173