# Database (Redis & PostgreSQL)
redis==6.4.0
asyncpg==0.31.0

# ORM for database (SQLAlchemy)
sqlalchemy[asyncio]>=2.0.0

# Websocket server (FastAPI + Uvicorn)
fastapi[standard]>=0.136.1

# Pydantic
pydantic>=2.6.0